{% extends "layout.html" %}
{% block body %}
{#
  {% if session.logged_in %}
     <form action="{{ url_for('add_device') }}" method="post" class="add-entry">
      <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="device">
      <dd><input type="submit" value="Add Device">
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for device in devices %}
    <li><h2>{{ device.name }}</h2>
  {% else %}
    <li><em>Unbelievable.  No devices here so far</em>
  {% endfor %}
  </ul>
#}
<h2> {{ device.name }} </h2> 

<form action="" method="post" class="add-entry">
  <select name="feature">
    <option value="on">ON</option>
    <option value="off">OFF</option>
  </select><br>
  <input type="submit" value="Save"/>
</form>

{% endblock %}